# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter / Dart / Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

#BackEnd files
node_modules/
.env

# Flutter docs
**/doc/api/

# Symbolication files (e.g. for crashes)
app.*.symbols

# Obfuscation mapping files
app.*.map.json

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
**/gradle-wrapper.jar
**/gradle-wrapper.properties

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh

# Lock files
*.lock

# Temporary files
*.tmp

# Others
*.log
